@import "../App.scss";



.dashhead{
    box-shadow: 0px 4px 10px #888888;
    height: 100vh;
    // background: linear-gradient(to bottom right,#8c57c0, #5a1e96);
    background-color: white;
    // background-color: black;
    h2{
        text-align: center;
        color: white;
        padding-top: 5%;
    }
    .heading{
        background-color: #011526;
    }
    .menu-container{
        padding:5%;
        margin: 2% 14px 0px 8%;
        color:#304151;
    }
    .menu-container:hover{
        // background: linear-gradient(to bottom right, #eedeff2c,#faf5ff2c);
        background-color: #EBF1FF;
        cursor: pointer;
    }

    .menu-container-active{
        transform: scale(1.05);
        padding:5%;
        // margin: 2% 0 0 10%;
        margin: 2% 14px 0px 8%;
        // color:white;
        color:#304151;
        // background: linear-gradient(to bottom right, #eedeff2c,#faf5ff2c);
        background-color: #EBF1FF;
        p{
           font-weight: bold; 
        }
    }
    .menu-container-active:hover{
        cursor: pointer;
    }
}
#sidebar-wrapper {
    height: 100vh; /* Add height */
    overflow-y: auto;  /* Add overflow-y */
    overflow-x: hidden;  /* Add overflow-x */
    /* min-height: 100vh; */

    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}
.subtitle{
    font-weight: bold;
    color: #99A1A8;
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 576px) {
    .dashhead{
      position: absolute;
      z-index: 1;
      width: 50%;
    }

    .displayhidden{
        display: none;
    }

}