.tab{
    font-size: 17px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
}
.listitemtext{
    font-size: 17px !important;
    font-weight: 400 !important;
    color: rgb(140,148,155);
}
.boxtitle{
    font-size: 18px;
    font-weight: 600;
    color: #2F69FF;
}
.boxtextheading{
    font-weight: 500;
    color: rgb(140,148,155);
}
.boxtextcontent{
    font-weight: bold;
    
}
.profileinput{
    // background-color: black;
    height: 300px;
}

.inputtext{
    font-weight: 600;
    font-size: 18px;
}